/*--font stack variables--*/
/*--main colors --*/
/*--font sizes--*/
/*--column handy variables --*/
/*--Flex classes--*/
.flex {
  display: flex;
  flex-flow: row wrap; }

.flex--v-center {
  align-items: center; }

.flex--h-center {
  justify-content: center; }

.flex-v--top {
  align-items: flex-start; }

.push-right {
  margin-left: auto; }

.push-left {
  margin-right: auto; }

.row {
  padding: 48px 0; }

.column {
  margin: 2%;
  padding: 48px; }

.half-margin--left {
  margin-left: 1%; }

.half-margin--right {
  margin-right: 1%; }

.column.half {
  width: calc(47% - 96px); }

.column.third {
  width: 29.33%; }

.mt-0 {
  margin-top: 0; }

@media screen and (max-width: 767px) {
  .column {
    padding: 12px 48px; }

  .column.half,
  .column.third {
    width: 100%; }
    .column.half .description__text,
    .column.third .description__text {
      padding: 4% 0; }

  .column.half:nth-of-type(2) {
    margin-top: 0; }

  .half-margin--left {
    margin-left: 2%; }

  .half-margin--right {
    margin-right: 2%; } }
/*--General--*/
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #185775;
  font-size: 100%; }

main {
  width: 100%;
  margin: 0 auto; }

p {
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.15em; }

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a .svg-inline--fa {
    font-size: 1.15em; }

a:hover {
  cursor: pointer;
  opacity: 1; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

/*--BUTTONS--*/
.button {
  padding: 16px 32px;
  border: 1px solid #185775;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.02em;
  display: inline-block;
  background-color: #185775;
  color: #fff;
  opacity: 1;
  text-decoration: none; }

.button--sm {
  padding: 12px 24px; }

.button:hover {
  background-color: #185775;
  color: #fff; }

.button--outline {
  background-color: transparent;
  color: #185775; }

.button--white {
  border-color: #fff;
  color: #fff; }

.button--white:hover {
  background-color: #fff;
  color: #185775; }

.button svg {
  font-size: 1em; }

.button svg.space-left {
  margin-left: 4px; }

.button svg.space-right {
  margin-right: 4px; }

/*--Hero--*/
.hero__wrap {
  background: url("../images/bg1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  color: #fff; }

@media screen and (max-width: 1024px) {
  .hero__wrap {
    background-attachment: scroll; } }
.hero {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  left: 7%;
  max-width: 700px;
  width: 92%; }
  .hero h1 {
    margin-bottom: 0; }
  .hero p {
    font-size: 1.15em;
    opacity: 0.9; }

.welcome .button {
  margin-top: 24px; }

.scroll__wrap {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center; }

/*--About Section --*/
.section--alt {
  background-color: #c7eeff; }

.overlay__block {
  background-color: #c7eeff; }
  .overlay__block .button {
    margin-top: 24px; }

.overlay__block h3 {
  margin-top: 0;
  margin-bottom: 1em; }

@media screen and (min-width: 960px) {
  .overlay__block {
    position: relative;
    align-self: center; }

  .overlay__block--right {
    right: 10%; }

  .overlay__block--left {
    left: 10%; } }
.social__links {
  font-size: 1.15em; }

.social__links a {
  margin: 0 4px; }

.description__text a {
  text-decoration: underline; }
  .description__text a.button {
    text-decoration: none; }

/*--Footer--*/
footer .column {
  margin: 1% 2%; }

footer p {
  font-size: 13px;
  color: rgba(24, 87, 117, 0.9); }

/*--Animations--*/
.desktop-menu ul,
.hero {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s; }

.pulse {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite; }

.hero__wrap {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s; }

/*# sourceMappingURL=portfoliomain.css.map */
